nest-api/dist
nest-api/node_modules

# Logs
nest-api/logs
nest-api/*.log
nest-api/npm-debug.log*
nest-api/nest-api/pnpm-debug.log*
nest-api/yarn-debug.log*
nest-api/yarn-error.log*
nest-api/lerna-debug.log*

# OS
nest-api/.DS_Store

# Tests
nest-api/coverage
nest-api/.nyc_output

# IDEs and editors
nest-api/.idea
nest-api/.project
nest-api/.classpath
nest-api/.c9/
nest-api/*.launch
nest-api/.settings/
nest-api/*.sublime-workspace

# IDE - VSCode
nest-api/.vscode/*
nest-api/!.vscode/settings.json
nest-api/!.vscode/tasks.json
nest-api/!.vscode/launch.json
nest-api/!.vscode/extensions.json

#Nest UI

nest-ui/.next
nest-ui/node_modules
nest-ui/.pnp
nest-ui/.pnp.js

# testing
nest-ui/coverage

# next.js
nest-ui/.next/
nest-ui/out/

# production
nest-ui/build

# misc
nest-ui/.DS_Store
nest-ui/*.pem

# debug
nest-ui/npm-debug.log*
nest-ui/yarn-debug.log*
nest-ui/yarn-error.log*

# local env files
nest-ui/.env*.local

# vercel
nest-ui/.vercel

# typescript
nest-ui/*.tsbuildinfo
nest-ui/next-env.d.ts